extends menuBar
append body
    form(action="/main/changePassword" method="POST")
        div(class="container-fluid")
            div(class="col-md-3")
                fieldset
                    label(for="old-password") Enter Old Password
                        input#old-password(type="password" name="oldPassword")
        div(class="container-fluid")
            div(class="col-md-3")
                fieldset
                    label(for="new-password") Enter New Password
                        input#new-password(type="password" name="newPassword")
        div(class="container-fluid")
            div(class="col-md-3")
                fieldset
                    label(for="confirm-password") Confirm Password
                        input#confirm-password(type="password" name="confirmPassword")
        div(class="container-fluid")
            div(class="col-md-12")
                input(type="submit" class="button" onclick="submitClick(event)" value="Switch")
    script.
        function submitClick(event) {
            if ($('#new-password').val() != $('#confirm-password').val()){
                event.preventDefault();
                $('#notification').empty()
                    .attr("class", "")
                    .append("New Password and Confirm Password do not match")
                    .addClass("error");
            }
        }