extends menuBar
append body
  form(action="/api/login", method="post")
    div(class="container-fluid")
      div(class="col-md-3")
        fieldset
          label(for="username") Username
            input#username.form-control.input-medium(name="username")
    div(class="container-fluid")
      div(class="col-md-3")
        fieldset
          label(for="password") Password
            input#password.form-control.input-medium(type="password" name="password")
    div(class="container-fluid")
      div(class="col-md-12")
        input(type="submit" class="submit button" value="Sign In")
