extends ../node_modules/pug-bootstrap/_bootstrap.pug
append styles
    link(href='/stylesheets/style.css', rel='stylesheet')
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/rack.js')
block body
    block header
    // UltraThin navbar
    - var admin = (parseInt(role)==0)
    - var biggerThanBuilder = (parseInt(role)<3)

    +navbar-fixed("","navbar", "default")
        a(class="navbar-brand logo" href="/main")
            img(src="/images/logo-transparent.png" height="30" alt="UltraThin")
            label(class="appTitle") #{appTitle}
        if(!!role)
            +nav_item_dropdown("#")(label="Users")
                if admin
                    +nav_item("/users/list") List
                    +nav_item("/users/new") New
                else
                    +nav_item("#") Not available
            +nav_item_dropdown("#")(label="Customers")
                if biggerThanBuilder
                    +nav_item("/customers/find") Find
                    +nav_item("/customers/new") New
                else
                    +nav_item("#") Not available
            +nav_item_dropdown("#")(label="Orders")
                +nav_item("/orders/find") Find
                if biggerThanBuilder
                    +nav_item("#new-order") New Order
                    +nav_item("/api/orders/process") Process Web Orders
            +nav_item_dropdown("#")(label="Account")
                if admin
                    +nav_item("/main/switchRole") Switch Role
                    +nav_item("/main/changePassword") Change Password
                    +nav_item("/main/logout") Logout
    .container
        if successMsg != undefined
            div#success-message(class="success")
                span #{successMsg}
        if errorMsg != undefined
            div#error-message(class="error")
                span #{errorMsg}
        div#notification
