extends menuBar
append body
    
    table.table.table-striped
        thead
            tr
                th Username
                th Email
                th Role
                th Actions
        tbody
            each user in users
                tr
                    td #{user.username}
                    td 
                        a(href="mailto:" + user.email) #{user.email}
                    td #{user.role}
                    td 
                        a(class="action button" href="/users/edit/" + user.id) edit
                        
                        a(class="action button" href="#" + user.id onclick="deleteClick(event, "+user.id+")") delete
        script.
            function deleteClick(event, id){
                event.preventDefault();
                $.ajax({
                    url: "/api/users/" + id, 
                    type: "DELETE", 
                    success: function(result){
                       $("#notification").empty()
                       .attr("class","")
                       .append(result.message)
                       .addClass("success");
                       location.reload();
                    },
                    error: function(jXQHR, errString) {
                        $("#notification").empty()
                        .attr("class","")
                        .append("Failed operation on user.  Error was:" + errString)
                        .addClass("error");
                    }
                });
            }        